.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*{
  color: #404040;
}

/* Custom page header */
.header {
  color: #404040;
  background-color: #fff;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header .nav-mobile{
  display: block;
  margin-bottom: 0;
}

.header .nav-mobile button{
  border: 1px solid #404040;
  margin: 16px 5px 14px;
}

.header .nav-mobile .icon-bar{
  background-color: #404040;
}

.header img{
  left: 15px;
  position: absolute;
  top: 10px;
  width: 50px;
}

.header .nav-desktop{
  display: none;
}

.nav li a{
  color: #404040;
}

.nav li a:hover{
  text-decoration: underline;
}

.nav li a:hover, .nav li a:active, .nav li a:visited{
  background-color: #fff;
}


.jumbotron{
  background-image: url('../images/wedding-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
  margin: 65px 0 10px 0;
  padding: 0 !important;
  overflow: hidden;
}

.overlay{
  height: 100%;
  overflow: hidden;
  padding: 25px 0 100px;
  z-index: 2;
}

.text-box{
  display: inline-block;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron h2{
  color: #fff;
  display: inline-block;
  font-weight: 300;
}

.jumbotron h1{
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  margin: 0;
}

.jumbotron h2{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 0;
}

.row{
  margin-bottom: 20px;
}

.row p{
  padding-left: 15px;
}


.row-container{
  text-align: center;
}

.row-container h3{
  color: #404040;
  display: inline-block;
  font-family: 'Tangerine', cursive;
  font-size: 32px;
}

.row-container .line{
  border-bottom: 1px solid #404040;
  display: inline-block;
  margin: 7px;
  width: 30px;
}

.detail-text{
  padding-left: 0;
}

.detail-img img{
  width: 100%;
}

.row h4{
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 6px;
}

.row h5{
  font-weight: 600;
  font-size: 13px;
  margin: 15px 0 0;
  font-style: italic;
}

.row h6{
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.row h6 a{
  color: #404040;
  text-decoration: underline;
}

.row p{
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  margin-top: 3px;
}

.wedding-party{
  margin-bottom: 25px;
}

.wedding-party img{
  border-radius: 50%;
  float: left;
  width: 110px;
}

.wedding-party-row{
  float: left;
  margin-bottom: 15px;
  width: -moz-calc(100% - 110px);
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
}

.wedding-party h5, .wedding-party h6{
  display: block;
}

.wedding-party h4{
  font-size: 20px;
  font-weight: 200;
  margin: 10px 0 25px;
}

.wedding-party h5{
  font-size: 18px;
  font-weight: 200;
  margin: 0 0 4px 20px;
}

.wedding-party h6{
  font-size: 11px;
  margin: 0 0 7px 20px;
}

.wedding-party p{
  padding-left: 20px;
}

@media (min-width: 500px) {
  .overlay{
    padding: 25px 0 140px;
  }

  .jumbotron h1{
    font-size: 40px;
  }

  .jumbotron h2{
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .overlay{
    padding: 30px 0 165px;
  }

  .jumbotron h1{
    font-size: 48px;
  }

  .jumbotron h2{
    font-size: 19px;
  }

  .row{
    margin-bottom: 75px;
  }

  .row-container{
    margin-bottom: 10px;
  }

  .row h4{
    font-size: 16px;
    margin-bottom: 8px;
  }

  .row h5{
    font-size: 15px;
    margin: 15px 0 0;
  }

  .row h6{
    font-size: 13px;
    margin-bottom: 3px;
  }

  .row p{
    font-size: 13px;
    margin-top: 3px;
  }

  .wedding-party h5{
    margin: 0 0 3px 15px;
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header .nav-mobile{
    display: none;
  }

  .header .nav-desktop{
    display: inline-block;
    float: left;
    margin-top: 23px;
    width: 317px;
  }

  .header .nav-desktop li{
    display: inline-block;
  }

  .header .nav-desktop li a{
    font-size: 12px;
    padding: 10px 8px;
  }

  #home{
    padding: 10px 22px;
  }

  #ceremony, #reception{
    padding: 10px 15px;
  }

  #registry{
    padding: 10px 11px;
  }

  .header img{
    display: inline-block;
    float: left;
    left: 0;
    margin: 15px 10px;
    position: static;
    top: 0;
    width: 66px;
  }

  .jumbotron{
    margin-top: 85px;
    margin-bottom: 50px;
  }

  .overlay{
    background: rgba(0,0,0,0.4);
    padding: 45px 0 170px;
  }

  .text-box{
    display: inline-block;
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, .66);
    background: rgba(0, 0, 0, 0.66);
  }

  .jumbotron h1{
    font-size: 60px;
    margin-bottom: 5px;
  }

  .jumbotron h2{
    font-size: 24px;
  }

  .row{
    margin-bottom: 100px;
  }

  .row-container{
    margin-bottom: 15px;
  }

  .row-container h3{
    font-size: 38px;
  }

  .row-container .line{
    margin: 9px;
    width: 150px;
  }

  .row h4{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .row h5{
    font-size: 17px;
    margin: 25px 0 0;
  }

  .row h6{
    font-size: 15px;
    margin-bottom: 3px;
  }

  .row p{
    font-size: 14px;
    margin-top: 3px;
    padding-left: 0;
  }

  .wedding-party h4{
    font-size: 24px;
    font-weight: 400;
  }

  .wedding-party h5{
    font-size: 24px;
    font-weight: 200;
    margin: 0 0 3px 15px;
  }

  .wedding-party h6{
    font-size: 12px;
    font-weight: 700;
  }

  .wedding-party p{
    margin-left: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header{
    padding-bottom: 5px;
  }

  .header .nav-desktop{
    margin-top: 29px;
    width: 415px;
  }

  .header .nav-desktop li a{
    font-size: 14px;
    padding: 10px 18px;
  }

  #home{
    padding: 10px 36px;
  }

  #ceremony, #reception{
    padding: 10px 25px;
  }

  #registry{
    padding: 10px 21px;
  }

  .header img{
    margin: 15px 15px;
    width: 80px;
  }

  .jumbotron{
    margin-top: 102px;
    margin-bottom: 80px;
  }

  .overlay{
    background: rgba(0,0,0,0.35);
    padding: 50px 0 210px;
  }

  .text-box{
    display: inline-block;
    box-shadow: 0 0 40px 30px rgba(0, 0, 0, .55);
    background: rgba(0, 0, 0, 0.55);
  }

  .jumbotron h1{
    font-size: 80px;
    margin-bottom: 10px;
  }

  .jumbotron h2{
    font-size: 32px;
  }

  .row{
    margin-bottom: 120px;
  }

  .detail-text{
    padding-left: 15px;
  }

  .row-container{
    margin-bottom: 20px;
  }

  .row-container h3{
    font-size: 42px;
  }

  .row-container .line{
    margin: 10px;
    width: 150px;
  }

  .row h4{
    font-size: 24px;
    margin-bottom: 10px;
  }

  .row h5{
    font-size: 19px;
    margin: 25px 0 0;
  }

  .row h6{
    font-size: 17px;
    margin-bottom: 3px;
  }

  .row p{
    font-size: 15px;
    margin-top: 3px;
  }

  .wedding-party h5{
    font-size: 24px;
    font-weight: 200;
    margin: 0 0 3px 15px;
  }

  .wedding-party h6{
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 10px 15px;
  }

  .wedding-party p{
    margin-left: 15px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header .nav-desktop{
    margin-top: 31px;
    width: 515px;
  }

  .header .nav-desktop li a{
    font-size: 16px;
    padding: 10px 26px;
  }

  .header img{
    margin: 15px 10px;
    width: 90px;
  }

  #home{
    padding: 10px 47px;
  }

  #ceremony, #reception{
    padding: 10px 37px;
  }

  #registry{
    padding: 10px 35px;
  }

  .jumbotron{
    margin-top: 111px;
    margin-bottom: 120px;
  }

  .overlay{
    padding: 60px 0 275px;
  }

  .text-box{
    display: inline-block;
    box-shadow: 0 0 65px 50px rgba(0, 0, 0, .66);
    background: rgba(0, 0, 0, 0.66);
  }
}
